html(lang='en')
	head
		title Album
		meta(charset='utf-8')
		link(type='texe/css', rel='stylesheet', href='./css/styleHome.css')
		style.
			div.img {
				margin: 5px;
				border: 0.5px solid #ccc;
				float: left;
				width: 180px;
			}
			div.img:hover {
				border: 1px solid #777;
			}
			div.img img {
				width: 100%;
				height: auto;
			}
	body
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Fjords', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Forest', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Mountains', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
		.img
			a(target='_blank', href='cat')
				img(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg', alt='Northern Lights', width='300', height='200')
