doctype html
html(lang='en')
  title Sig Up
  head
    meta(charset='utf-8')
  //- style by myself
  link(type='text/css', rel='stylesheet', href='css/style.css', media='screen,projection')
  //- Import Google Icon Font
  link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')
  //- Import materialize.css
  link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
  //- Let browser know website is optimized for mobile
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body.login
    //- Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    #screen
      h1(style='font-family:Gloria Hallelujah, cursive; font-size:120px; color:#e68a00') Vibes
      form.registerForm(method = 'get', action= '../login', style='margin-top:50px')
        .col(style='width:350px')
          .input-field.col
            input#username.validate(placeholder=' ', type='text')
            label(for='username') USERNAME
          .input-field.col
            input#password.validate(placeholder=' ', type='text')
            label(for='username') EMAIL ADDRESS
          .input-field.col
            input#password.validate(placeholder=' ', type='password')
            label(for='username') PASSWORD
          .input-field.col
            input#password.validate(placeholder=' ', type='password')
            label(for='username') CONFIRM PASSWORD
        .button
          button.waves-effect.waves-light.btn.registerButton(style='margin-top:15px') Submit
    script.
      $('button.registerButton').click( function() {
        $('form.registerForm').submit();
      });
